@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');




.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

*{
    margin: 0;
}

.body-color{
  background-color: rgb(22, 20, 20);

}

.nav-container{
color: white;
margin-top: 60px;



}
.nav-section{
    margin: 0 auto;

}

.nav-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
  box-sizing: content-box;
  
}


.nav-title{
    font-size: 2.4rem;
    color: rgb(230, 83, 60);
   
}

.home-red{
    background-color: rgb(230, 83, 60);
 align-items: center;
    width: 80px;
    height: 25px;
    justify-content: center;
    display: flex;
    margin-top: -3px;
    border-radius: 20px;
    box-sizing: content-box;
    
    
}

.list-title{
    font-size: 1.2rem;
 
}

.nav-list{
    display: flex;
    gap: 30px;
  
  
    
}

.box-nav{
    height: 46px;
    width: 380px;
    align-items: center;
    text-align: center;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
display: flex;


}


.list-title{
    list-style: none;
}


/* banner section start */

.banner-container{
    height: 715px;
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
  
    gap: 230px;
    background: linear-gradient(180.00deg, rgb(20, 18, 18),rgba(66, 47, 47, 0) 100%);
 
}

.banner-section{
    margin-top: 80px;
}

.banner-title{
    font-size: 5rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 30px;
}

.banner-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-bottom: 30px;
}

.banner-join{
   
background-color:  rgb(230, 83, 60);
font-size: 1.1rem;
font-weight: 400;
padding: 16px 40px 16px 40px;
border-radius: 42px;
border: none;
color: white;
margin: 0px 14px;
}

.banner-downlod{
    font-size: 1.1rem;
font-weight: 400;
padding: 16px 40px 16px 40px;
border-radius: 42px;
background-color: rgb(29, 23, 23);
margin: 0px 14px;
color: white;
border: 1px solid rgb(255, 255, 255);
}


.Banner-image{
    width: 349px;
height: 580px;
    margin-top: 40px;
    
    background-image: url(../images/Images\ 2.png);
    background-repeat: no-repeat;
    
    


}

.Banner-image> img{

    position: absolute;

}

.shado-one{
    max-width: 150px;
    height: 70px;
  
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  margin-left: 200px;
  margin-top: 130px;


}

.shado-two{
    max-width: 150px;
    height: 70px;
  
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-top: 250px;

}

.shodo-title{
    font-size: 2.3rem;
    font-weight: 900;
}

.shodo-descriton{
    font-size: 0.7rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}

/* habbit section atart */
.habit-container{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
}


.main-container{

    max-width: 1060px;
    margin: 0 auto;
}

.habit-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.habit-description{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 60px;
    max-width: 671px;
    text-align: center;
    
}


.circle-img{
    border-radius: 50%;
}

.team-title{
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 30px;
}

.team-description{
    font-size: 0.7;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    max-width: 231px;
}

.habit-teams{
    display: flex;
    margin-bottom: 80px;
    text-align: center;
}


/* habbit section end */



/* run section satart */

.run-container{
max-width: 1060px;
height: 371px;
color: white;
display: flex;
gap: 125px;

border-radius: 18px;

background: rgb(34, 34, 34);
margin-bottom: 50px;



}

.run-image>img{
    width: 366px;
height: 312px;
position:absolute;
border-radius: 18px;
margin-top: 30px;
margin-right: 35px;




}

.run-title{
    font-size: 3rem;
    font-weight: 900;
    width: 443px;
    margin: 20px;
}

.run-description{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    width: 443px;
    margin-bottom: 20px;
    line-height: 24px;
}

.run-btn{
    font-size: 1.2rem;
    width: 224px;
height: 54px;
color: white;
border: none;
border-radius: 42px;
padding: 16px 40px 16px 40px;

background-color:  rgb(230, 83, 60);
}


.run-section{
    margin-top: 41px;
    margin-left: 54px;
}

/* run section end */


/* calculator section start  */

.calculator{
    color: white;
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 80px;
   
}

.calculator-title{
    font-size: 3rem;
    font-weight: 900;
    
   
}

.calculator-description{
    font-size: 0.9rem;
    color:rgba(255, 255, 255, 0.5);
  width: 671px; 
}

.calculator-container{
margin-left: 195px;
margin-bottom: 80px;
}




.bmi-calculoter{
    color: white;
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    gap: 175px;
 justify-content: center;
 align-items: center;
margin-bottom: 50px;

}

table{
  
    border-collapse: collapse;
}

td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
   
    padding: 10px  15px;
}

.thead-text{
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
}

.table-text-color{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
}


.bmi-section{
    margin-bottom: 60px;
}

.table-tile{
    margin-bottom: 50px;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 0;
    margin-top: 20px;
}


.bmi-background-color{
    background: rgb(34, 34, 34);
    height: 487px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.your-bmi-title{
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 0;
}

.your-bmi-description{

    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    max-width: 577px;
    line-height: 1.3rem;
    margin-bottom: 34px;
    margin-top: 14px;
}

.your-bmi-section{
    margin-top: 35px;
}



.form-text{
    padding-right: 75px;
    width: auto;
font-size: 0.9rem;
height: 35px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
   padding-left: 10px;
   
}

.form-textt{

    padding-right: 80px;
    width: auto;
font-size: 0.9rem;
height: 35px;
    border-radius: 8px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
}


.form-texttt{
    padding-right: 90px;
    width: auto;
font-size: 0.9rem;
height: 35px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
   padding-left: 10px;
   background: rgba(255, 255, 255, 0.1);
   border: none;
   color: rgba(255, 255, 255, 0.6);
}

#sex-option{
  
    font-size: 0.9rem;

        border-radius: 8px;
        padding: 10px 212px 10px  10px;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        color: rgba(255, 255, 255, 0.6);
    
}



.activity-factor{
     font-size: 0.9rem;
   padding-right: 197px;
        border-radius: 8px;
        padding: 10px 372px 10px  10px; 
        margin-bottom: 30px;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        color: rgba(255, 255, 255, 0.6);

}






/* calculator section end  */




@media screen and (min-width:579px)  and ( max-width:992px){

.banner-container{
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

} 
    

/* responsive small device style end */





/* banner section end*/