@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');




@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');

   

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

*{
    margin: 0;
   
}

 .body-color{
    background-color: rgb(59, 58, 58); 
  max-width: 1800px;
  margin: 0 auto;

} 

.body-design{
    /* background-color: rgb(34, 34, 34); */
    max-width: 1500px;
    margin: 0 auto;
   height: 900px;
   border: 10px solid green;
  
} 



    
    .playwrite-be-vlg-banner-part-color {
      font-family: "Playwrite BE VLG", cursive;
      font-optical-sizing: auto;
      font-weight:300;
      font-style: italic;

    }
 


.nav-container{
color: white;
padding-top: 60px;
background-color: rgb(34, 34, 34);

position: relative;

}

.hamberger{
    display: none;
}
.nav-section{
    margin: 0 auto;
  
}

.nav-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
  box-sizing: content-box;
  
}


.nav-title{
    font-size: 2.4rem;
    color: rgb(230, 83, 60);
    font-style: italic;
   
}

.home-red{
    background-color: rgb(230, 83, 60);
 align-items: center;
    width: 80px;
    height: 25px;
    justify-content: center;
    display: flex;
    margin-top: -3px;
    border-radius: 20px;
    box-sizing: content-box;
    
    
}

.list-title{
    font-size: 1.2rem;
 
}

.nav-list{
    display: flex;
    gap: 30px;
  
    
}

.box-nav{
    height: 46px;
    width: 410px;
    align-items: center;
    text-align: center;
    display: flex;
   
    border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
display: flex;


}


.list-title{
    list-style: none;
}


/* banner section start */

.banner-container{
    height: 715px;
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
  
    gap: 230px;
    /* background-color: rgb(34, 34, 34); */
  
} 

.banner-section{
    margin-top: 100px;
}

.banner-title{
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 30px;
}

.banner-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-bottom: 30px;
}

.banner-join{
   
background-color:  rgb(230, 83, 60);
font-size: 1.1rem;
font-weight: 400;
padding: 16px 40px 16px 40px;
border-radius: 42px;
border: none;
color: white;
margin: 0px 14px;
}

.banner-downlod{
    font-size: 1.1rem;
font-weight: 400;
padding: 16px 40px 16px 40px;
border-radius: 42px;
background-color: rgb(29, 23, 23);
margin: 0px 14px;
color: white;
border: 1px solid rgb(255, 255, 255);
}


.Banner-image{
    width: 349px;
height: 580px;
  
  
    background-image: url(../images/Images\ 2.png);
    background-repeat: no-repeat;
  

}

/* .Banner-image> img{

    position: absolute;

} */

.shado-one{
    max-width: 150px;
    height: 70px;
  
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  margin-left: 200px;
  margin-top: 130px;


}

.shado-two{
    max-width: 150px;
    height: 70px;
  
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-top: 250px;

}


.shodo-title{
    font-size: 2.3rem;
    font-weight: 900;
}

.shodo-title-2{
    font-size: 2rem;
    font-weight: 900;

}

.red-circle{
    color: rgb(230, 83, 60);
    
}

.shodo-descriton{
    font-size: 0.7rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}

/* habbit section atart */
.habit-container{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
    height:550px ;
   position: absolute;
   margin-top: 50px;
   background: rgb(29, 15, 15);
  
}

.habit-container{
color: white;
}


/* .main-container{

    max-width: 1060px;
    margin: 0 auto;
  
} */

.habit-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.habit-description{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 60px;
    max-width: 671px;
    text-align: center;
    
}


.circle-img{
    border-radius: 50%;
}

.team-title{
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 30px;
}

.team-description{
    font-size: 0.7;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    max-width: 231px;
}

.habit-teams{
    display: flex;
    margin-bottom: 80px;
    text-align: center;
}


 .all-web-color{
    background: rgb(26, 15, 15);
    max-width: 1060px;
    margin: 0 auto;
 }

/* habbit section end */



/* new habit start */
.new-habit{
color: white;
background-color: rgb(22, 12, 12);
padding-bottom: 80px;

}
.habit-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 15px;
    padding-top: 50px;
}

.habit-descriptions{
    text-align: center;
    font-size: 1.rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 60px;
   
    text-align: center;
}
.team-sectionse{
display: flex;
   gap: 35px;
   align-items: center;
   justify-content: center;
}

  .team-design{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 

}  
/* new habit end */





/* run section satart */

.run-container{
max-width: 1060px;
height: 371px;
color: white;
display: flex;
gap: 125px;
margin: 0 auto;
border-radius: 18px;

background: rgb(34, 34, 34);
margin-bottom: 50px;



}

.run-color{
    max-width: 1800px;
 background-color: rgb(22, 12, 12); 
 padding-bottom: 50px;
}

.run-image>img{
    width: 366px;
height: 312px;

border-radius: 18px;
margin-top: 30px;
margin-right: 35px;
object-fit: none;
object-position: 66% 33%;



}

.run-title{
    font-size: 3rem;
    font-weight: 900;
    width: 443px;
    margin: 20px;
}

.run-description{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    width: 443px;
    margin-bottom: 20px;
    line-height: 24px;
}

.run-btn{
    font-size: 1.2rem;
    width: 224px;
height: 54px;
color: white;
border: none;
border-radius: 42px;
padding: 16px 40px 16px 40px;

background-color:  rgb(230, 83, 60);
}


.run-section{
    margin-top: 41px;
    margin-left: 54px;
}

/* run section end */


/* calculator section start  */


.calculator-all-color{
    max-width: 1800px;
     background-color: rgb(22, 12, 12);  ;
}
.calculator{
    color: white;
    max-width: 1060px;
    margin: 0 auto;
    /* margin-top: 80px; */
   
}

.calculator-title{
    font-size: 3rem;
    font-weight: 900;
    
   
}

.calculator-description{
    font-size: 0.9rem;
    color:rgba(255, 255, 255, 0.5);
  width: 671px; 
  margin-top: 10px;
  line-height: 20px;
}

.calculator-container{
margin-left: 195px;
margin-bottom: 80px;
}




.bmi-calculoter{
    color: white;
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    gap: 175px;
 justify-content: center;
 align-items: center;
margin-bottom: 50px;

}

table{
  
    border-collapse: collapse;
}

td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
   
    padding: 10px  15px;
}

.thead-text{
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
}

.table-text-color{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
}


.bmi-section{
    margin-bottom: 60px;
}

.table-tile{
    margin-bottom: 50px;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 0;
    margin-top: 20px;
}


.bmi-background-color{
    background: rgb(34, 34, 34);
    height: 487px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.your-bmi-title{
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 0;
}

.your-bmi-description{

    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    max-width: 577px;
    line-height: 1.3rem;
    margin-bottom: 34px;
    margin-top: 14px;
}

.your-bmi-section{
    margin-top: 35px;
}



.form-text{
    padding-right: 80px;
    width: auto;
font-size: 0.9rem;
height: 35px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
   padding-left: 10px;
   
}

.form-textt{

    padding-right: 80px;
    width: auto;
font-size: 0.9rem;
height: 35px;
    border-radius: 8px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
}


.form-texttt{
    padding-right: 95px;
    width: auto;
font-size: 0.9rem;
height: 35px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
   padding-left: 10px;
   background: rgba(255, 255, 255, 0.1);
   border: none;
   color: rgba(255, 255, 255, 0.6);
}

#sex-option{
  
    font-size: 0.9rem;

        border-radius: 8px;
        padding: 10px 214px 10px  10px;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        color: rgba(255, 255, 255, 0.6);
    
}



.activity-factor{
     font-size: 0.9rem;
   padding-right: 300px;
        border-radius: 8px;
        padding: 10px 378px 10px  10px; 
        margin-bottom: 30px;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        color: rgba(255, 255, 255, 0.6);

}

/* calculator section end  */




/* meet team section start */

.meet-team-container{
    color: white;
    max-width: 1060px;
    height: 800px;
    margin: 0 auto;
  
   margin-bottom: 80px;
}

.image-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
margin-top: 50px;
margin-bottom: 50px;
background: rgba(255, 255, 255, 0.1);
padding:10px 10px 25px 25px ;
border-radius: 20px;

}

/* share tag start*/
.trainer-1{
    max-width: 326px;
    height: 272px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    
   
}

/* share tag end*/

.image-position-1{
    background-image: url(../images/trainer1.png);
    background-repeat: no-repeat;
    background-size: cover;
 
}

.image-position-2{
    background-image: url(../images/trainer2.png);
    background-repeat: no-repeat;
    background-size: cover;  
  
}


.image-position-3{
    background-image: url(../images/trainer3.png);
    background-repeat: no-repeat;
    background-size: cover;  
 
}

.image-position-4{
    background-image: url(../images/image\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;  

}

.image-position-5{
    background-image: url(../images/image\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;  

}

.image-position-6{
    background-image: url(../images/trainer6.png);
    background-repeat: no-repeat;
    background-size: cover;  

}





.trainer-1-title{
    font-size: 1rem;
    font-weight: 800;
    padding-left: 20px;
    padding-bottom: 5px;

}

.trainer-description{
    font-size: 0.8rem;
    padding-left: 20px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.meet-team-title{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-top: 80px;
}

.meet-team-description{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
   margin-top: 15px;
    text-align: center;
    line-height: 24px;
}

/* meet team section end */
/* footer team section start*/
.footer-section{
    color: white;
    max-width: 1060px;
    height: 400px;
    margin: 0 auto;
     display: flex;
   /* justify-content: center;
    align-items: center; */
  gap: 80px;

}

.footer-container{
 
    background: rgb(34, 34, 34);
 
}


.footer-title{
    color: rgb(230, 83, 60);
    font-size: 4.8rem;
    font-weight: 800;
    font-style: italic;
}

.footer-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    width: 443px;
    margin-top: 20px;
    line-height: 25px;
}


.get-title{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
  


}

.get-title-2{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;

   
}




.get-title-move{
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 270px;
    width:188px ;
   
}



.list-tag-1{
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
   

    
}

.get-des-two>li{
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
  
}


.first-part{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 84px;
}



.footert-flex{
    display: flex;
margin-top: 66px;
gap: 150px;
    
}


.footer-end{
    
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;

    padding-bottom: 50px;
    padding-top: 60px;
}

.hr-section{
    max-width: 1060px;
    margin: 0 auto;

}



/* footer team section end*/



/*

@media screen and (max-width:576px)  {

    .nav-section{
        flex-direction: column;
        margin-top: 20px;
    }

    .banner-container{
        flex-direction: column;
        padding-left: 20px;
      
        padding-bottom: 20px;
    } 

    .habit-container{
 flex-direction: column;
 height: auto;
 

    }

    
.banner-container{
    height: 715px;
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
  
    gap: 30px;
    flex-direction: column;
    margin-bottom: 30px;
   
  
} 

.habit-teams{
    flex-direction: column;

}
 
.habit-container{
    flex-direction: column;
    margin-top: 400px;
}

.run-container{
    flex-direction: column;
   margin-left: 2px;
}


.run-image>img {
    flex-direction: column;
  width: 100%;

}
} 
    */

/* responsive small device style end */





/* banner section end*/